<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Loan Department"  parallel="tests" thread-count="6">
    <listeners>
        <listener class-name="test.Listeners"/>

    </listeners>
    <test name="Personal Loan">
        <parameter name="URL" value="personalloan.com"/>



        <classes>
            <class name="test.Day1">
            <methods>
                <include name="Demo"/>
            </methods>
            </class>

            <class name="test.Day2"/>
            <class name="test.Day4"/>

        </classes>
    </test>
    <test name="Car loan">
        <parameter name="URL" value="carLoan.com"/>
        <parameter name="APIKey/username" value="13545"/>
        <classes>
            <class name="test.Day3">

                <methods>
                    <exclude name="Mobile.*"/>
                </methods>
                    </class>
        </classes>
    </test>
</suite>